h1{
    justify-content: center;
}

.positionement{
    display: flex;
    justify-content: center;
    margin-top: 150px ;
}

.card-text{
    margin-top: 15px;
}

body{
    background-color: lightgrey;
}

.tasks{
    text-align: center;
    font-weight: 500;
    
}

.boutontask{
    background-color: rgb(222, 234, 218);
    padding: 6px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}

i{
    cursor: pointer;
}

.card{
    border-color:green;
    border-width: 3px;
    box-shadow: 5px;
}

#exampleModal{
    border-radius: 0;
}

.positicones{
    text-align: center;
    background-color: rgb(222, 234, 218);
    border-radius: 0px 0px 5px 5px;
}

.listtasks{
    background-color: rgb(222, 234, 218);
    border-radius: 5px 5px 0px 0px; 
}

ul{
    list-style: none;
}

li{
    margin-top: 2px;
}

