.container{
    background-color: rgb(255, 69, 0);
    margin-top: 150px;
    width: 750px;
    height: 500px;
}

.btn.btn-primary{
    width: 500px;
    border-style: none;
    font-size: 15px;
    margin-top: 50px;
    margin-left: 100px;
  
}

h1{
    text-align: center;
    padding-top: 10px;
}

.texte1{
    text-align: center;
    color:white;
   padding-top: 10px;
 } 

.form{
    border-style: none;
  
}


.input-group{
    width: 120px;
}

.nbrcoups{
    color: white;
}

#form1{
    margin-left: 540px;
}

.placement{
    margin-left: 540px;
    margin-top: 80px;
}

#result{
    margin-top: 50px;
    margin-left: 30px;
    color: white;
}