button{
    border-color: black;
    border-style: solid;
    margin-top: 20px;
    margin-left: 10px;
    width: 90px;
    height: 65px;
    
}

h1{
    color: white;
}

.container{
    width: 500px;
    margin-top: 30px;
    height: 635px;
    border-radius: 10px;
}

.fondCalculette{
    height: 130px;
    background-color: rgb(24, 124, 74);
    border-radius: 20px;
}

.grosbouton{
    width: 215px;
}

textarea{
    background-color: rgb(24, 124, 74);
    border-style: none;
    border-width: 0px;
    color: white;
    font-size: 20px;
    resize: none;
    overflow: hidden;
    border-radius: 20px;
}

