<div class="container d-flex flex-column p-3 justify-content-around">

  <h1>1- Le Data Binding</h1>

 <br>

  <h2>1 - a - L'interpolation: </h2>
  <p> Je m'appelle {{myName}} et j'ai {{myAge}}ans, je suis plutot bogoss : <b> {{isBeauGoss ? "C'est vrai!!!" : "C'est totalement faux"}} </b></p>



  <h2>1 - b - Le property Binding</h2>
  <div [align]="alignement">Personne: {{person}} | {{age}} | adresse: {{address.street}}</div>
  <br>

  <h2>1 - c - Event Binding</h2>
  <div>
    <div [class]="alert">{{mot}}</div>
    <button class="btn btn-primary w-25" (click)="changeMot()">Valider</button>

    <br>

    <label>Saisir ce que tu veux: </label>
    <input type="text" (change)="modifie($event)" class="form-control w-50">
    <p>Résultat: {{modification}}</p>
    <label>Saisir ce que tu veux encore: </label>
    <input type="text" (input)="modifieEncore($event)" class="form-control w-50" (focus)="focused()">
    <p>Résultat2: {{modificationEncore}}</p>
    <br>
    <br>
    <br>

    <h2>1 - d - Two Way Binding</h2>
    <div>


      <form action="" class="d-flex flex-column">
        <h5>{{userName}}</h5>
        <label for="">Name</label>
        <input type="text" [(ngModel)]="userName" name="userName" placeholder="userName" class="w-50">



      </form>




    </div>

    <br>
    <br>
    <br>
  </div>
</div>



