#bgimage{
    background-image: url(https://images.unsplash.com/photo-1656355508492-98822e690331?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=900&ixid=MnwxfDB8MXxyYW5kb218MHx8fHx8fHx8MTY1OTAxNjk0Ng&ixlib=rb-1.2.1&q=80&w=1600);
    
}

.posit{
    padding: 270px;
}


.card{
    background-color: black;
    color: white;
    opacity: 0.7;
    border-radius: 20px;
    padding: 20px;
}

h5{
    color: white;
}

.cardbody{
    justify-content: start;
}

.cardcontent{
    margin-top: 20px;
    font-weight: bolder;
    font-size: 15px;
}

.input-group{
    opacity: 0.33;
}

.form-control{
    border-radius: 20px;
}

i{
    border-radius: 20px;
}

#searchbutton{
    border-radius: 50px;
}

span{
    cursor: pointer;
}

h5{
    font-size: 30px;
    
}

h6{
    font-size: 24px;
}

#villeweather{
    text-transform: capitalize;   
}
