h1{
    color: white;
}

hr{
    color: white;
}

label{
    color: white;
}

.container{
    margin-top: 30px;
    width: 800px;
    padding-bottom: 10px;
    border-radius: 10px;
}

#label{
    flex-direction: column; 
    margin-top: 7px;
    
}

#input{
    flex-direction: column;
    width: 150px;
    margin-top: 5px;
}

.positionnement{
    display: flex;
    justify-content: space-between;
}

textarea{
    resize: none;
    overflow: hidden;
    width: 200px;
}

#select{
    width: 300px;
    margin-right: 50px;
}

.labelrace{
    margin-top: 10px;
}

.labelage{
    margin-top: 10px;
}

#textid{
    color: white;
}