.card{
    margin: auto;
    margin-top: 200px;
    height: 300px;
    width: 170px;
}

.btn-circle.btn-xl {
    width: 80px;
    height: 80px;
    padding: 10px 16px;
    border-radius: 40px;
    font-size: 24px;
    line-height: 1.33;

}

.btn-circle {
    width: 40px;
    height: 40px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}

.button1{
    position: absolute;
    left: 0;
    bottom: 0;
    color: white;
}

.button2{
    position: absolute;
    right: 0;
    bottom: 0;
    color: white;
}

h2{
    text-align: center;
    margin-top: 100px;
    font-size: 50px;
    color: white;
}

