.positionnement{
    display: flex;
    justify-content: center;
    margin-top: 175px;

}

.card{
    text-align: center;
    padding: 10px;
}

.input-group{
    margin-top: 50px;
    margin-bottom: 20px;
}

.button{
    color: white;
    pointer-events: none;
}

#success{
    background-color: rgb(206, 233, 211);
    border-radius: 5px;
}

h5{
    margin-top: 25px;
}


#produits div{
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

p{  
    display: flex;
    justify-content: start;
    margin-top: 5px;
    position: sticky;
}

i {
    cursor: pointer;
  }
  
.options {
    display: flex;
    justify-content: end;
    position: sticky;

}

.bi-pencil-square{
    color: green;
}
  
.bi-trash3-fill{
    color: red;
}

#vidlist{
    text-align: center;
    color: red;
    cursor: pointer;
    text-decoration: none;
}

.card-title{
    font-family: 'Courier New', Courier, monospace;
}

#danger{
    background-color: lightpink;
    color: red;
}